@use "../abstracts/vars";

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgb(172, 172, 227);
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 1000;
  transition: all 0.5s;
  &.active {
    left: 0;
  }
}
